<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ator.supmaintenance_va">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 安装与卸载 -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.ator.supmaintenance_va.item.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ae419bbd8368734e5b460364e497f4b2" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.ator.supmaintenance_va.act.LoadingActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ator.supmaintenance_va.act.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.MyNFCActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.PowerAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.CabinetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.GroundCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.SysRunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.ControllerCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.OpStationCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.SysInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.HisFileListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.QueryResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.AIActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.ator.supmaintenance_va.act.IDCardActivity" />
        <activity
            android:name="com.ator.supmaintenance_va.act.GuestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.InspectionMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.CardListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.CheckListsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.InputDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.infraredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.ShockMeasureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.TempTaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.ShowCheckPointActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.ator.supmaintenance_va.Service.MyTimerService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.ator.supmaintenance_va.Service.AlarmReceiver" />

        <activity
            android:name="com.ator.supmaintenance_va.act.NFCCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.QueryInspectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ator.supmaintenance_va.act.MaintenMainActivity" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.CabinetCorrosionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.ControlCabinetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.ControlCabinetPowerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.ControlRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.ControlRoomPowerMagnetismActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.MasterCardCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.OperatingStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.OperatingStationCorrosionDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.OperatingStationCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.OperatingStationPowerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.PowerCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.PowerSystemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.RoomCorrosionDetectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.SBUSCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.SCNETCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ator.supmaintenance_va.act.tables.SystemPowerCheckActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ator.supmaintenance_va.act.NetSettingActivity" />
        <activity android:name="com.ator.supmaintenance_va.operations.OperationMainActivity" />
        <activity android:name="com.ator.supmaintenance_va.operations.OperationDetailActivity" />
        <activity android:name="com.ator.supmaintenance_va.operations.OperationHistoryActivity"></activity>
    </application>

</manifest>